{% extends 'main.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="#" onclick="goBack()"><span class="icon-park-outline--back-one"></span></a><p>Back</p>
            <br>

            <form id="delete-form" class="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p>Are you sure you wante to delete "{{item}}"?</p>
                <br>
                <button class="btn btn--sub" id ='delete-button' onclick="handleDelete()" type="submit">Delete</button>
            </form>
        </div>
    </div>
</main>
<script>
    function handleDelete() {
        console.log("handleDelete function called");
        var deleteButton = document.getElementById('delete-button');
        deleteButton.disabled = true; // Disable the button to prevent double-clicks

        // Optionally, you can change the button text to indicate the action is in progress
        deleteButton.innerText = 'Deleting...';

        // Submit the form or make an AJAX request to delete the item
        // For example, if you are using a form:
        document.getElementById('delete-form').submit();

        // If you are using AJAX, make the request here and re-enable the button if the request fails
    }
</script>
{% endblock %}