{% extends 'main.html' %}

{% block content %}
{% csrf_token %}
<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="#" onclick="goBack()"><span class="icon-park-outline--back-one"></span></a><p>Back</p>
            <br>

            <form class="form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}: </label>
                    {{field}}
                </div>
                {% endfor %}
                <button class="btn btn--sub" type="submit">Save</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}