{% extends 'main.html' %}
{% load static %}
{% load multiply %}
{% load custom_filters %}

{% block content %}

  <main class="settingsPage profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              {% if metal_object.featured_image %}
                <img class="avatar avatar--xl dev__avatar" src="{{ metal_object.featured_image.url }}" />
              {% else %}
                <img class="avatar avatar--xl dev__avatar" src="{% static 'images/default.jpg' %}" />
              {% endif %}
              <p class="metal__year bold">{{metal_object.item_year}}</p>
              <h2 class="metal__title">{{metal_object.item_name}}</h2>
              {% if metal_object.initial_weight_unit == 'TROY_OUNCES' %}
              <h3 class="project__title">{{object_weight|floatformat:2}} OZ</h3>
              {% else %}
              <h3 class="project__title">{{object_weight|multiply:31.1035|floatformat:2}} Gram{{object_weight|multiply:31.1035|floatformat:2|pluralize}}</h3>
              {% endif %}
              {% if profit_loss > 0 %}
                <h3 class="project__title profit_plus">Profit ${{profit_loss|floatformat:2}}</h3>
              {% elif profit_loss == 0 %}
                <h3 class="project__title profit_neutral">{{profit_loss|floatformat:2}}</h3>
              {% else %}
                <h3 class="project__title profit_minus">Loss ${{profit_loss|absolute|floatformat:2}}</h3>
              {% endif %}
              <p class="dev__title">Quantity: {{metal_object.quantity}}</p>
              <span style="font-weight: bold;">Purity-{{metal_object.purity}}%</span>
              <br>
              <br>
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'editPage' metal_type=metal_object.metal_type pk=metal_object.pk %}"><i class="im im-edit"></i> Edit</a>
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'deletePage' metal_type=metal_object.metal_type pk=metal_object.pk %}"><i class="im im-edit"></i> Delete</a>
              <a class="tag tag--pill tag--main settings__btn" href="{% url 'sellPage' metal_type=metal_object.metal_type pk=metal_object.pk %}"><i class="im im-edit"></i> Sell</a>
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="metal_single">
            <div class="metal_settings">
              <span class="underline"><h3 class="metal__title">Information</h3></span>
              <!-- <a class="tag tag--pill tag--sub settings__btn tag--lg" id="metal_tag1" href="#"><i class="im im-plus"></i> Edit</a> -->
            </div>
            <br>
            <p class="dev__title">{{ metal_object.item_about }}</p>
          </div>

          <div class="metal_single" id="metal_single2">
            <div class="metal_settings">
              <span class="underline"><h3 class="metal__title">Buy/Sell Information</h3></span>
              <!-- <a class="tag tag--pill tag--sub settings__btn tag--lg" id="metal_tag2" href="#"><i class="im im-plus"></i>Sell</a> -->
            </div>
            <br>
            <div class="dev__title purchase-price-container">
              <span class="purchase-price-label">Purchase Price:</span>
              <span class="purchase-price-value">${{ metal_object.cost_to_purchase }}</span>
            </div>
            <div class="dev__title purchase-price-container">
              <span class="purchase-price-label">Current Melt Value:</span>
              <span class="purchase-price-value">${{ melt_price }}</span>
            </div>
            <div class="dev__title purchase-price-container">
              <span class="purchase-price-label">Shipping Price:</span>
              <span class="purchase-price-value">${{ metal_object.shipping_cost }}</span>
            </div>
            <div class="dev__title purchase-price-container">
              <span class="purchase-price-label">Cost Per Ounce (Shipping Included):</span>
              <span class="purchase-price-value">${{ cost_per_oz }}</span>
            </div>
            <br>
            <div class="dev__title purchase-price-container">
              <span class="purchase-price-label">Purchased From:</span>
              <span class="purchase-price-value">{{ metal_object.purchased_from }}</span>
            </div>
            <div class="dev__title purchase-price-container">
              <span class="purchase-price-label">Sold to:</span>
              <span class="purchase-price-value">{{ metal_object.sold_to }}</span>
            </div>
            <div class="dev__title purchase-price-container">
              <span class="purchase-price-label">Sell Price:</span>
              <span class="purchase-price-value">${{ metal_object.sell_price }}</span>
            </div>
            <br>
            <div class="dev__title purchase-price-container">
              <span class="purchase-price-label">Profit/Loss:</span>
              <span class="purchase-price-value">${{ profit_output }}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
  </main>
{% endblock %}
