{% extends 'main.html' %}
{% block content %}
{% load static %}
{% load multiply %}
{% load custom_filters %}
<!-- Main Section -->

<main class="projects">
    <section class="hero-section text-center">
      <div class="container container--narrow">
        <div class="hero-section__box">
          <h2>Search your <span>Sales</span></h2>
        </div>

        <div class="hero-section__search">
          <form class="form" action="#" method="get">
            <div class="form__field">
              <label for="formInput#search">Search By Projects </label>
              <input class="input input--text" id="formInput#search" type="text" name="search_query"
                placeholder="Search Sales" />
            </div>

            <input class="btn btn--sub btn--lg" type="submit" value="Search" placeholder="{{search_query}}"/>
          </form>
        </div>
      </div>
    </section>
    <!-- Start of grid -->
    <section class="projectsList">
      <div class="container">
        <div class="grid grid--three">
          {% if search_query %}
          {% for object in metal_objects %}
          <div class="column">
            <div class="card project">
              <a href="{% url 'singleMetal' metal_type='gold' pk=object.pk %}" class="project">
                <!-- Wrote Styles inline because CSS File not working?? -->
                {% if object.featured_image.url != None %} 
                <div class="project__thumbnail metal__thumbnail" style="background-image: url('{{ object.featured_image.url }}')">
                </div>
                {% else %}
                <div class="project__thumbnail metal__thumbnail" style="background-image: url('{% static 'images/default.jpg' %}')">
                </div>
                {% endif %}
                <div class="card__body">
                  <h3 class="project__title">{{object.item_year}}</h3>
                  <h3 class="project__title">{{object.item_name}}</h3>
                  {% if object.initial_weight_unit == 'TROY_OUNCES' %}
                  <h3 class="project__title">Sold {{ object.sale_weight|floatformat:2  }} OZ</h3>
                  {% else %}
                  <h3 class="project__title">Sold {{ object.sale_weight|floatformat:2  }} Gram{{ object.sale_weight|floatformat:2|pluralize  }}</h3>
                  {% endif %}
                  <p>
                    <a class="project__author" href="{% url 'singleMetal' metal_type='gold' pk=object.pk %}">Buyer-{{  object.sold_to  }}</a></p>                    <span style="font-weight: bold;">Sold- {{  object.date_sold  }}</span>
                  </p>
                  <p>
                    <span style="font-weight: bold;">Profit- ${{  object.profit  }}</span>
                  </p>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
          {% else %}
          {% for object in metal_objects %}
          <div class="column">
            <div class="card project">
              <a href="{% url 'singleMetal' metal_type=object.metal_type pk=object.pk %}" class="project">
                <!-- Wrote Styles inline because CSS File not working?? -->
                {% if object.featured_image.url != None %} 
                <div class="project__thumbnail metal__thumbnail" style="background-image: url('{{ object.featured_image.url }}')">
                </div>
                {% else %}
                <div class="project__thumbnail metal__thumbnail" style="background-image: url('{% static 'images/default.jpg' %}')">
                </div>
                {% endif %}
                <div class="card__body">
                  <h3 class="project__title">{{object.item_year}}</h3>
                  <h3 class="project__title">{{object.item_name}}</h3>
                  {% if object.initial_weight_unit == 'TROY_OUNCES' %}
                  <h3 class="project__title">Sold {{ object.sale_weight|floatformat:2  }} OZ</h3>
                  {% else %}
                  <h3 class="project__title">Sold {{ object.sale_weight|floatformat:2  }} Gram{{ object.sale_weight|floatformat:2|pluralize  }}</h3>
                  {% endif %}
                  <p>
                    <a class="project__author" href="{% url 'singleMetal' metal_type=object.metal_type pk=object.pk %}">Buyer- {{  object.sold_to  }}</a></p>                    <span style="font-weight: bold;">Sold- {{  object.date_sold  }}</span>
                  </p>
                  <p>
                    <span style="font-weight: bold;">Profit- ${{  object.profit  }}</span>
                  </p>
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>
    {% include 'pagination.html' with queryset=metal_objects custom_range=custom_range %}
  </main>

{% endblock content %}