{% extends 'main.html' %}
{% load static %}

{% block content %}
<!-- Main Section -->
<main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl" src="{{profile.profile_image.url}}" />
              <h2 class="dev__name">{{profile.name}}</h2>
              <p class="dev__title">{{profile.short_intro}}</p>
              <br>
              <a href="{% url 'edit-account' %}"><button id="info_button" class="btn btn--main btn--sm">Update Info</button></a><br>
              <a href="{% url 'delete-account' %}"><button id="delete_button" class="btn btn--main btn--sm">Delete Account</button></a>
              <ul class="dev__social">
                {% if profile.social_github %}
                <li>
                  <a title="Github" href="{{profile.social_github}}" target="_blank"><span class="ant-design--github-outlined"></span></a>
                </li>
                {% endif %}
                {% if profile.social_twitter %}
                <li>
                  <a title="Twitter" href="{{profile.social_twitter}}" target="_blank"><i class="im im-twitter"></i></a>
                </li>
                {% endif %}
                {% if profile.social_linkedin %}
                <li>
                  <a title="LinkedIn" href="{{profile.social_linkedin}}" target="_blank"><span class="radix-icons--linkedin-logo"></span></a>
                </li>
                {% endif %}
                {% if profile.social_youtube %}
                <li>
                  <a title="Youtube" href="{{profile.social_youtube}}" target="_blank"><i class="im im-youtube"></i></a>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <!-- <h3 class="devInfo__title">Dashboard</h3> -->
            <div class="dashcard card--dark project" id="goldcard">
              <a href="#" class="project">
                <div class="metalcard__body">
                  <div class="metal_container">
                    <h3 class="project__title" id="gold_title">Gold</h3>
                    <span style="font-weight: bold;">Dollar Cost Average/OZ : ${{gdca}}</span>
                  </div>
                    <span style="font-weight: bold;">You have {{total_gold}}OZ{{ total_gold|pluralize }} Gold</span>
                    <span style="font-weight: bold;">Current Spot Price: ${{gold_price}} /OZ</span>
                    <span style="font-weight: bold;">Current Market Value (Melt) ${{gmv}}</span>
                    <div class="metal_container">
                      <span style="font-weight: bold;">Total Invested (Including Shipping)</span>
                      <span style="font-weight: bold;">${{total_gold_cost}}</span>
                    </div>
                </div>
              </a>
            </div>
            <div class="dashcard card--dark project" id="silvercard">
              <a href="#" class="project">
                <div class="metalcard__body">
                  <div class="metal_container">
                    <h3 class="project__title" id="gold_title">Silver</h3>
                    <span style="font-weight: bold;">Dollar Cost Average/OZ : ${{sdca}}</span>
                  </div>
                    <span style="font-weight: bold;">You have {{total_silver}}OZ{{ total_silver|pluralize }} Silver</span>
                    <span style="font-weight: bold;">Current Spot Price: ${{silver_price}} /OZ</span>
                    <span style="font-weight: bold;">Current Market Value (Melt) ${{smv}}</span>
                    <div class="metal_container">
                      <span style="font-weight: bold;">Total Invested (Including Shipping)</span>
                      <span style="font-weight: bold;">${{total_silver_cost}}</span>
                    </div>
                </div>
              </a>
            </div> 
            <div class="dashcard card--dark project" id="platinumcard">
              <a href="#" class="project">
                <div class="metalcard__body">
                  <div class="metal_container">
                    <h3 class="project__title" id="gold_title">Platinum</h3>
                    <span style="font-weight: bold;">Dollar Cost Average/OZ : ${{pdca}}</span>
                  </div>
                    <span style="font-weight: bold;">You have {{total_platinum}}OZ{{ total_platinum|pluralize }} Platinum</span>
                    <span style="font-weight: bold;">Current Spot Price: ${{platinum_price}} /OZ</span>
                    <span style="font-weight: bold;">Current Market Value (Melt) ${{pmv}}</span>
                    <div class="metal_container">
                      <span style="font-weight: bold;">Total Invested (Including Shipping)</span>
                      <span style="font-weight: bold;">${{total_platinum_cost}}</span>
                    </div>
                </div>
              </a>
            </div>
            <div class="dashcard card--dark project" id="infocard">
              <a href="#" class="project">
                <div class="card__body">
                  <h3 class="project__title">Ratios</h3>
                  <p class="project--margins">
                    <span style="font-weight: bold;">Silver to Gold (No Premiums): {{gsr}} : 1</span>
                  </p>
                  <p class="project--margins">
                    <span style="font-weight: bold;">Silver to Platinum (No Premiums): {{psr}} : 1</span>
                  </p>
                  <p class="project--margins">
                    <span style="font-weight: bold;">Platnium to Gold (No Premiums): {{pgr}} : 1</span>
                  </p>
                  <div class="project__tags">
                  </div>
                </div>
              </a>
            </div>
          </div>
      </div>
    </div>

  </main>

{% endblock %}