{% load static %}

<header class="header">
    <div class="container container--narrow">
      <a href="{% url 'homepage' %}" class="header__logo">
        <img src="{% static 'images/long_logo_1.png' %}" alt="alt" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'metal_page' metal_type='gold' %}">My Gold</a></li>
          <li class="header__menuItem"><a href="{% url 'metal_page' metal_type='silver' %}">My Silver</a></li>
          <li class="header__menuItem"><a href="{% url 'metal_page' metal_type='platinum' %}">My Platinum</a></li>
          <li class="header__menuItem"><a href="{% url 'updatePage' %}">Add to Stack</a></li>
          <li class="header__menuItem"><a href="#" class="btn btn--sub">Login/Sign Up</a></li>
        </ul>
      </nav>
    </div>
  </header>