{% load static %}

<header class="header">
    <div class="container container--narrow">
      <a href="{% url 'homepage' %}" class="header__logo">
        <img src="{% static 'images/long_logo_1.png' %}" alt="alt" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          {% if request.user.is_authenticated %}
          <li class="header__menuItem"><a href="{% url 'metal_page' metal_type='gold' %}">Gold</a></li>
          <li class="header__menuItem"><a href="{% url 'metal_page' metal_type='silver' %}">Silver</a></li>
          <li class="header__menuItem"><a href="{% url 'metal_page' metal_type='platinum' %}">Platinum</a></li>
          <li class="header__menuItem"><a href="{% url 'updatePage' %}">Add</a></li>
          <li class="header__menuItem"><a href="{% url 'soldItems' %}">Sales</a></li>
          <li class="header__menuItem"><a href="{% url 'profile' user.profile.id %}">Dashboard</a></li>
          <li class="header__menuItem"><a href="{% url 'logout-user' %}" class="btn btn--sub">Logout</a></li>
          {% else %}
          <li class="header__menuItem"><a href="{% url 'login-user' %}" class="btn btn--sub">Login/Sign Up</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
</header>
