{% load static %}

<header class="header">
    <div class="container container--narrow">
      <a href="" class="header__logo">
        <img src="#" alt="DevSearch Logo" />
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'goldpage' %}">My Gold</a></li>
          <li class="header__menuItem"><a href="{% url 'silverpage' %}">My Silver</a></li>
          <li class="header__menuItem"><a href="{% url 'platinumpage' %}">My Platinum</a></li>
          <li class="header__menuItem"><a href="{% url 'updatePage' %}">Upgrade/Edit Stack</a></li>
          <li class="header__menuItem"><a href="#" class="btn btn--sub">Login/Sign Up</a></li>
        </ul>
      </nav>
    </div>
  </header>