{% load static %}

<div id="sticky-bar">
  <header class="subheader">
    <div class="container container--narrow">
      <nav class="subheader__nav">
        <ul>
          <li class="subheader__menuItem" id="goldspot">Gold&nbsp;<span>${{gold_price}}</span></li>
          <li class="subheader__menuItem" id="silverspot">Silver&nbsp;<span>${{silver_price}}</span></li>
          <li class="subheader__menuItem" id="platinumspot">Platinum&nbsp;<span>${{platinum_price}}</span></li>
          <li class="subheader__menuItem"><span class="solar--refresh-square-broken" id="update-metals-data-button"></span></li>
        </ul>
      </nav>
    </div>
  </header>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#update-metals-data-button').click(function() {
            $.ajax({
                url: "{% url 'updateMetalsData' %}",
                type: "GET",
                success: function(response){
                    console.log(response);
                    alert('Data updated successfully.');
                },
                error: function() {
                    alert('An error occurred.');
                }
            });
        });
    });
</script>