{% load static %}
<link rel="stylesheet" href="{% static 'styles/app.css' %}" />

<header class="subheader">
  <div class="container container--narrow">
    <nav class="subheader__nav">
      <ul class="header__menu">
        <li class="subheader__menuItem" id="goldspot">Gold&nbsp;<span>${{gold_price}}</span></li>
        <li class="subheader__menuItem" id="silverspot">Silver&nbsp;<span>${{silver_price}}</span></li>
        <li class="subheader__menuItem" id="platinumspot">Platinum&nbsp;<span>${{platinum_price}}</span></li>
        <span class="solar--refresh-square-broken"></span>
      </ul>
    </nav>
  </div>
</header>