{% extends 'main.html' %}

{% block content %}

<body>
    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <h1 class="form_header underline bold">Contact Us</h1>
                
                <!-- Contact Us Content -->
                <div class="termsContent">
                    <p>If you have any questions, comments, or feedback, please feel free to reach out to us using the contact form below. We look forward to hearing from you!</p>

                    <!-- Contact Form -->
                    <form class="form" method="POST" action="{% url 'contact' %}">
                        {% csrf_token %}
                        {% for field in form %}
                <!-- Input:Text -->
                <div class="form__field">
                    <label for="formInput#text">{{field.label}}: </label>
                    {{field}}
                </div>
                {% endfor %}
                <button class="btn btn--sub" type="submit">Submit</button>

                    </form>
                    <!-- End of Contact Form -->

                </div>
                <!-- End of Contact Us Content -->
            </div>
        </div>
    </main>
</body>
{% endblock %}
